*{
    box-sizing: border-box;
}
.centralize{
    width:70%;
    margin:auto;
    padding: 20px;
    text-align: justify;
    background-color: rgba(190, 187, 187, 0.445);
    color:black;
    
    
}
@media screen and (max-width:600px){
    .centralize{
        font-size: 14px;
        width: 100%;
    }
    
}
body {
    font-family: "Lato", sans-serif;
    
}
.accomodate{
    display: inline;
    
}




